<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head th:replace="fragments ::html_head">
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<div th:replace="fragments ::html_header"></div>
<div class="container">
<div class="card mt-5 shadow">
  <div class="card-header bg-bg text-center f-ch " style="color: white">
    View Brands
  </div>
  <div class="text-center mt-2 f-ch" >
  <form th:action="@{/admin/brands}">
  <input type="text" placeholder="Search By Car Brand" class="search" name="carBrand" >
  <div class="container mt-1 text-center">
  <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
  <button type="submit" class="btn btn-outline-primary"><i class="fa fa-times"></i></button>
  </div>
  </form>
  </div>
  <div class="card-body">
    <table class="table table-bordered shadow">
  <thead class="f-ch">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Car Brand</th>
      <th scope="col">Created By</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody >
    <tr th:each="brand,vehicleStatus : ${brandList}">
      <th scope="row" >ID[[${brand.id}]]</th>
      <td th:text="${brand.carBrand}"></td>
      <td th:text="${brand.createdBy}"></td>
      <td>
      <a th:href="@{'/admin/brands/edit/'} + ${brand.id}" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>
      <a th:href="@{'/admin/brands/delete/'} + ${brand.id}" class="btn btn-outline-danger"><i class="	fa fa-minus-circle"></i></a>
      </td>
      
    </tr>
    <tr th:if="${brandList.isEmpty()}">
	<td class="text-center f-ch" colspan="4" style="color: red;">Sorry! No Record Found....</td>
	</tr>
  </tbody>
</table>
  </div>
</div>
<div th:if="${totalPages > 1}"></div>
 <div class="row col-sm-10" style="font-size: medium; color: white; font-weight: bolder; text-decoration: underline;">
  <div class="col-sm-2" >Pagination</div> 
  <div class="col-sm-1 page-item">
 <div class="col-sm-1 page-item">
  <a th:if="${currentPage==1}" >Previous</a>
  <a th:if="${currentPage!=1}" th:href="@{'/admin/brands/'+${currentPage - 1}}">Previous</a>
  
  </div>
  
  
  </div>
  
  <div class="col-sm-1">
  <span class="page-item" th:each="i: ${#numbers.sequence(1,totalPages)}">
  <a th:if="${currentPage!=i}" th:href="@{'/admin/brands/'+${i}}">[[${i}]]</a>
  <span th:unless="${currentPage!=i}">[[${i}]]</span>
  </span>
   
  </div>
  <div class="col-sm-1 page-item">
  <a th:if="${currentPage < totalPages}" th:href="@{'/admin/brands/'+${currentPage + 1}}">Next</a>
  <span class="page-item" th:unless="${currentPage < totalPages}">Next</span>
  </div>
  <div class="col-sm-1">
  <a th:if="${currentPage < totalPages}" th:href="@{'/admin/brands/'+${totalPages}}">Last</a>
  <span class="page-item" th:unless="${currentPage < totalPages}">Last</span>
  </div>
 </div>
</div>

</div>
<div th:replace="fragments ::html_footer"></div>
</body>
</html>