<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color: blue;">
<div class="container">
<h1 style="font-size: xx-large; font-weight: bolder; color: white; margin-top: 20%; margin-left: 40%">Some Error Occurred!!!</h1>
<i class="fa fa-exclamation-triangle"></i>
<a style="padding: 10px 10px;margin: 10px 10px;background-color: white; color:blue;text-decoration:none; margin-top: 20%; margin-left: 45%" th:href="@{/login}">Go Back to Login Page</a>
</div>
</body>
</html>